                .info {
                    &__link {
                        a {
                            text-decoration: none;
                            color: #fff;
                            display: block;
                            font-size: 3.5rem;
                            font-weight: 300;
                            &:hover {
                                color: #FFA60D;
                            }
                            &:not(last-child) {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                
                @media screen and (max-width: 1024px) {
                    .info {
                        &__link {
                            a {
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
                
                @media screen and (max-width: 768px) {
                    .info {
                        &__link {
                            a {
                                font-size: 2.2rem;
                            }
                        }
                    }
                }