* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  text-align: center;
  font-family: 'Source Serif Pro', sans-serif;
}

.banner {
  background-image: url(/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

.banner::before {
  background: rgba(0, 0, 0, 0.48);
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
}

header {
  background-color: rgba(0, 0, 0, 0.42);
  padding: 44px 122px;
  margin: 0 auto;
  font-size: 2.2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 8px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 8px 24px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  position: relative;
  z-index: 2;
}

.logo img {
  width: 156px;
  height: 63px;
}

@media screen and (max-width: 1024px) {
  .logo img {
    width: 109px;
    height: 44px;
  }
}

@media screen and (max-width: 560px) {
  .logo img {
    margin: 20px 0px;
  }
}

.banner-section {
  padding: 218px 0px 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-section__text {
  font-size: 2.5rem;
  margin: 35px 0 60px;
  z-index: 2;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .banner-section__text {
    font-size: 1.8rem;
  }
}

.title {
  font-size: 8.5rem;
  line-height: 103px;
  text-transform: uppercase;
  margin-bottom: 35px;
  max-width: 914px;
  z-index: 2;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 6rem;
    line-height: 73.1px;
    max-width: 697px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 5rem;
    line-height: 57.65px;
    max-width: 329px;
    height: 174px;
  }
}

.btn--white {
  border: 2px solid;
  border-radius: 30px;
  border-color: #fff;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  width: 312px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-decoration: none;
  z-index: 3;
}

.btn--black {
  border: 2px solid;
  border-radius: 30px;
  border-color: #000;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  display: block;
  width: 312px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  opacity: 0.7;
  background-color: #FFA60D;
  border: #FFA60D;
  width: 370px;
  -webkit-transition: width 1s;
  transition: width 1s;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  font-size: 2.5rem;
}

.about-restaurant {
  background: #f3f7ea;
  padding: 100px 0;
}

.about-restaurant__text {
  max-width: 941px;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .about-restaurant__text {
    font-size: 2.2rem;
    height: 120px;
    max-width: 602px;
  }
}

@media screen and (max-width: 728px) {
  .about-restaurant__text {
    font-size: 2rem;
    height: 108px;
    max-width: 541px;
  }
}

.gallery .wrapper-gallery {
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .wrapper-gallery .item {
  width: calc((100% - 2*24px)/2);
  max-width: 924px;
}

.gallery .wrapper-gallery .item:not(:nth-of-type(2n)) {
  margin-right: 24px;
}

.gallery .wrapper-gallery .item:not(:nth-of-type(n+5)) {
  margin-bottom: 24px;
}

.gallery .wrapper-gallery .item img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .wrapper-gallery {
    padding: 100px 12px 0px;
  }
  .wrapper-gallery .item {
    max-width: 696px;
  }
}

@media screen and (max-width: 1435px) {
  .wrapper-gallery .item {
    max-width: 610px;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper-gallery .item {
    max-width: 590px;
  }
}

@media screen and (max-width: 1230px) {
  .wrapper-gallery .item {
    max-width: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-gallery {
    padding: 80px 15px 0px;
  }
  .wrapper-gallery .item {
    max-width: 492px;
  }
  .wrapper-gallery .item:not(:nth-of-type(2n)) {
    margin-right: 10px;
  }
  .wrapper-gallery .item:not(:nth-of-type(n+5)) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper-gallery .item {
    max-width: 430px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper-gallery .item {
    max-width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-gallery .item {
    padding: 70px 24px 0px;
  }
  .wrapper-gallery .item__item {
    max-width: 354px;
  }
  .wrapper-gallery .item__item:not(:nth-of-type(2n)) {
    margin-right: 12px;
  }
  .wrapper-gallery .item__item:not(:nth-of-type(n+5)) {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 765px) {
  .wrapper-gallery .item {
    max-width: 300px;
  }
}

@media screen and (max-width: 660px) {
  .wrapper-gallery {
    padding: 60px 15px 0;
  }
  .wrapper-gallery .item {
    max-width: 225px;
  }
}

@media screen and (max-width: 505px) {
  .wrapper-gallery .item {
    max-width: 150px;
  }
}

.menu__item {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-weight: 400;
  z-index: 2;
}

.menu__item:not(:last-child)::after {
  content: url(/img/Line.png);
  display: inline-block;
  margin: 0 25px;
}

.menu__item:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: #FFA60D;
}

@media screen and (max-width: 1024px) {
  .menu__item {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 560px) {
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item:not(:last-child)::after {
    content: url(/img/Line.png);
    display: inline-block;
    margin: 0 15px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.selected-dishes {
  max-width: 1920px;
  padding: 100px 0px;
}

.selected-dishes .second-title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 50px;
}

.selected-dishes__text {
  color: #474747;
  font-size: 2.5rem;
  line-height: 3.1rem;
  font-weight: 300;
  margin-bottom: 31px;
}

@media screen and (max-width: 1024px) {
  .selected-dishes {
    padding: 80px 0px;
  }
  .selected-dishes__text {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .selected-dishes {
    padding: 70px 0px;
  }
  .selected-dishes__text {
    margin: 30px 0;
  }
}

.second-title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  .second-title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1020px) {
  .second-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .second-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}

.wrapper-selected-dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .wrapper-selected-dishes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px 24px 0px 52px;
    margin-bottom: 0px;
  }
  .wrapper-selected-dishes .content-dishes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
  }
  .wrapper-selected-dishes .content-dishes:not(:last-child) {
    margin-right: 0px;
  }
  .wrapper-selected-dishes .content-dishes__picture {
    margin-bottom: 58px;
  }
  .wrapper-selected-dishes .content-dishes__picture img {
    width: 320px;
    height: 204px;
    margin-bottom: 0px;
  }
  .wrapper-selected-dishes .content-dishes__box {
    margin-left: 24px;
  }
  .wrapper-selected-dishes .content-dishes__dish-desk {
    font-size: 2rem;
    margin: 20px auto;
  }
  .wrapper-selected-dishes .content-dishes__price {
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .wrapper-selected-dishes .content-dishes__picture {
    width: 46%;
  }
  .wrapper-selected-dishes .content-dishes__picture img {
    width: 100%;
  }
  .wrapper-selected-dishes .content-dishes__box {
    width: 54%;
  }
}

.content-dishes {
  width: calc((100% - 2 * 48px) / 3);
  max-width: 360px;
  text-align: left;
  position: relative;
}

.content-dishes--red::before {
  width: 58px;
  height: 58px;
  color: #fff;
  border-radius: 50%;
  background-color: #D33B3B;
  position: absolute;
  top: -25px;
  left: -15px;
  text-align: center;
  font-weight: 600;
  line-height: 58px;
  font-weight: 600;
  font-size: 1.4rem;
  content: "HOT!";
}

.content-dishes--green::before {
  width: 58px;
  height: 58px;
  color: #fff;
  border-radius: 50%;
  background-color: #B3E151;
  position: absolute;
  top: -25px;
  left: -15px;
  text-align: center;
  font-weight: 600;
  line-height: 58px;
  font-weight: 600;
  font-size: 1.4rem;
  content: "NEW!";
}

.content-dishes--yellow::before {
  width: 58px;
  height: 58px;
  color: #fff;
  border-radius: 50%;
  background-color: #E5A434;
  position: absolute;
  top: -25px;
  left: -15px;
  text-align: center;
  font-weight: 600;
  line-height: 58px;
  font-weight: 600;
  font-size: 1.4rem;
  content: "HIT!";
}

.content-dishes:not(:last-child) {
  margin-right: 48px;
}

.content-dishes__picture {
  margin-bottom: 35px;
}

.content-dishes__heading {
  font-size: 3rem;
  font-weight: 400;
  line-height: 38px;
}

.content-dishes__dish-desk {
  color: #474747;
  font-size: 1.8rem;
  line-height: 22px;
  font-weight: 300;
  margin: 15px 0px;
}

.content-dishes__price {
  font-size: 1.8rem;
  line-height: 23px;
  font-weight: 700;
}

@media screen and (max-width: 1250px) {
  .content-dishes img {
    margin-bottom: 35px;
    width: 300px;
    height: 200px;
  }
  .content-dishes:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .content-dishes:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1060px) and (max-width: 1024px) {
  .content-dishes {
    width: calc((100% - 2 * 92px) / 3);
    max-width: 252px;
  }
  .content-dishes img {
    margin-bottom: 15px;
    width: 252px;
    height: 156px;
  }
  .content-dishes:not(:last-child) {
    margin-right: 92px;
  }
  .content-dishes--red::before {
    width: 46px;
    height: 46px;
    color: #fff;
    border-radius: 50%;
    background-color: #D33B3B;
    position: absolute;
    top: -25px;
    left: -15px;
    text-align: center;
    font-weight: 600;
    line-height: 58px;
    font-weight: 600;
    font-size: 1.4rem;
    content: "HOT!";
    font-size: 12px;
    line-height: 46px;
  }
  .content-dishes--green::before {
    width: 46px;
    height: 46px;
    color: #fff;
    border-radius: 50%;
    background-color: #B3E151;
    position: absolute;
    top: -25px;
    left: -15px;
    text-align: center;
    font-weight: 600;
    line-height: 58px;
    font-weight: 600;
    font-size: 1.4rem;
    content: "NEW!";
    font-size: 1.2rem;
    line-height: 46px;
  }
  .content-dishes--yellow::before {
    width: 46px;
    height: 46px;
    color: #fff;
    border-radius: 50%;
    background-color: #E5A434;
    position: absolute;
    top: -25px;
    left: -15px;
    text-align: center;
    font-weight: 600;
    line-height: 58px;
    font-weight: 600;
    font-size: 1.4rem;
    content: "HIT!";
    font-size: 1.2rem;
    line-height: 46px;
  }
  .content-dishes__heading {
    font-size: 3rem;
    font-weight: 400;
    line-height: 38px;
    font-size: 2.5rem;
  }
  .content-dishes__dish-desk {
    color: #474747;
    font-size: 1.5rem;
    line-height: 18px;
    font-weight: 300;
    margin: 15px 0px;
  }
  .content-dishes__price {
    font-size: 1.5rem;
  }
}

.chef-maksim-bolov {
  padding: 100px 490px;
  background: #F3F7EA;
}

.chef-maksim-bolov__grey-text {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.chef-maksim-bolov__text {
  max-width: 939px;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .chef-maksim-bolov {
    padding: 100px 250px;
  }
}

@media screen and (max-width: 1024px) {
  .chef-maksim-bolov {
    padding: 80px 166px;
  }
  .chef-maksim-bolov__text {
    font-size: 2.2rem;
  }
  .chef-maksim-bolov__grey-text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .chef-maksim-bolov {
    padding: 70px 71px;
  }
  .chef-maksim-bolov__text {
    font-size: 2rem;
  }
  .chef-maksim-bolov__grey-text {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.photo-chef img {
  width: 282px;
  height: 280px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .photo-chef img {
    width: 282px;
    height: 280px;
  }
}

@media screen and (max-width: 768px) {
  .photo-chef img {
    width: 251px;
    height: 249px;
    margin-bottom: 20px;
  }
}

.btn-up {
  display: inline-block;
  background-color: #FFA60D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  z-index: 1000;
  line-height: 70px;
}

.btn-up:hover {
  cursor: pointer;
  background-color: grey;
}

.btn-up:active {
  background-color: #555;
}

.btn-up:after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 2em;
  line-height: 50px;
  color: #FFA60D;
}

.footer {
  padding: 100px 0px;
  position: relative;
  background: #262626;
}

.footer__text {
  font-size: 2.5rem;
  color: #B1B1B1;
  margin: 60px 0px;
}

@media screen and (max-width: 1024px) {
  .footer__text {
    font-size: 2.5rem;
    margin: 50px 0 47px;
  }
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 2.2rem;
    margin: 40px 0 35px;
  }
}

.footer-heading {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 81px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer-heading {
    font-size: 5rem;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer-heading {
    font-size: 4rem;
    margin-bottom: 40px;
  }
}

.info__link a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
}

.info__link a:hover {
  color: #FFA60D;
}

.info__link a:not(last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .info__link a {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .info__link a {
    font-size: 2.2rem;
  }
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks__link {
  color: #000;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.networks__link:not(:last-child) {
  margin-right: 40px;
}

.networks__link i {
  color: black;
  font-size: 2.5rem;
}

.networks__link i:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: #FFA60D;
}
/*# sourceMappingURL=style.css.map */